/* Disable the Horizontal scroll*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

td { 
     word-wrap: break-word; 
     max-width: 25ch;
}

.fa-square-xmark {
	color: #ff3333;
}

.fa-square-check {
	color: #24ff50;
}